<h2>Caros alunos(as),
No "Trabalho 01 Unidade 03" vocês deverão enviar individualmente o link do repositório no github, contendo: <br></br><br></br><br></br>
- notebook respondido da aula 18<br></br><br></br>
- notebook com o código reproduzindo todos os gráficos da aula 19.<br></br><br></br>
Esse trabalho irá compor 40% da nota referente a terceira unidade. <br></br><br></br>
att,
 
Ivanovitch</h2>

In [3]:
import pandas as pd
bikes = pd.read_csv("bike_rental_day.csv")
bikes.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [6]:
import math
# É criado um vetor com 31 elementos
outcome_counts = list(range(31))
print(outcome_counts)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [ ]:
def find_probability(N, k, p, q):
    
    # 
    #
    # Put your code here
    #
    #
    
    return probability

outcome_probs = [find_probability(30, i, .39, .61) for i in outcome_counts]

<h3>1. Distribuições Discretas  </h3>

<h4>A) Computando Distribuição</h4><br></br>

Description:
Using the knowledge from the last mission, create a function that can compute the probability of k outcomes out of N events occurring.
Use the function to find the probability of each number of outcomes in outcome_counts occurring.
An outcome is a day where there are more than 5000 riders, with p=.39.
You should have a list with 31 items, where the first item is the probability of 0 days out of 30 with more than 5000 riders, the second is the probability of 1 day out of 30, and so on, up to 30 days out of 30.
Assign the list to outcome_probs.

<h3>2. Ensaios de Bernoulli  </h3>

<h3>3. Distribuição Binomial  </h3>

<h3>4. Distribuição Geométrica  </h3>

<h3>5. Distribuição Poisson  </h3>

<h3>6. Distribuição Hipergeométrica  </h3>